
.content{
  background: whitesmoke;
}


.app-card{
  .btn{
    padding: 0 20px;
    border-radius: 50px;
    height: 2rem;
    line-height: 2.1rem;
  }
}

@keyframes goingup {
  0% {
     opacity: 0;
     transform: translateY(20px);
 }
 100% {
     opacity: 1;
     transform: translateY(0);
 }
}

@keyframes disappear {
  0% {
     opacity: 1;
 }

 40%{
     opacity: .65;
 }
 50%{
     opacity: .5;
     transform: scale(.75,.65);
     z-index: 9884;
     transform: translateY(25px);
 }
 75%{
     opacity: .45;
     transform: scale(.55,.5);
 }
 100% {
     opacity: 0;
     transform: translateX(100%);
     display: none;
 }
}

@keyframes appear {
  0% {
     opacity: 0;
     transform: translateX(-100%);
 }

 25%{
   opacity: .45;
   transform: scale(.55,.5);
 }

 50%{
     opacity: .5;
     transform: scale(.75,.65);
     z-index: 9884;
     transform: translateY(25px);
 }
 60%{
     opacity: .65;
 }

 100% {
     opacity: 1;
     transform: translateX(0);
 }
}




.section{
  margin-bottom: 6rem;
  background-image: url(../../media/line.svg);
  background-position: center;
  background-repeat: repeat-y;
  animation: goingup 1s cubic-bezier(0.29, 0.99, 1, 1);

}

.section-intro, .app-card{
  margin-bottom: 60px;
  padding: 36px;
  background: #fff;
}

.section-intro{
  box-shadow: 5px 25px 30px -25px rgba(42, 48, 93, 0.21);
}


.app-card{
  display: flex;
  box-shadow: 0 20px 20px rgba(0,0,0,.08); //5px 25px 30px -25px rgba(34,34,34,.25);
}

.app-no{
   color: #F42;
   line-height: 1;
   margin-bottom: 1.2rem;
}

.current,
.total {
  font-size: 1.8rem;
  font-weight: 500;
}

.connector{
   vertical-align: text-bottom;
   vertical-align: -webkit-baseline-middle;
   font-size: 1.1rem;
}


.app-meta{
  margin-bottom: 1.2rem;
  h3{
     font-size: 2.6rem;
     margin-bottom: -.2rem;
  }

  .connector{
    padding-left: .5rem;
    vertical-align: middle;
  }
}


.app-icon{
  max-width: none !important;
  border: 4px solid white;
  border-radius: 1rem;
}

.app-link{
   a{
     margin-right: 2rem;
   }
   a:last-of-type{
     margin-right: 0;
   }
}

.col-left{
   margin-right: 1.45rem;
}


.publisher{
  font-size: 1.055rem;
  text-transform: uppercase;
  font-weight: 500;
  vertical-align: middle;
}

//section top borders - testing only
@mixin topbar($color) {
  border-top: 4px solid $color;
}

#scc{
  @include topbar(#934cd0);
}

#sml{
  @include topbar(#5976de);
}
