
.tools-header{
    background-image: url(../../contact-3.jpg); //linear-gradient(to left, #46EEAA, #2cbfc7); //linear-gradient(to right, #944bd0, #5975e0);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    color: #FFF;
    margin: 0;
    padding: 1px 100px 20px 100px;
    z-index: 656;
    h2{
      line-height: 1.65;
    }
}

h3{
  font-weight: 400;
}


.filter{
  li{
    display: inline-block;
  }
  .btn{
    margin-bottom: 1.2rem;
    margin-right: .70rem;
    padding: 0 20px;
    border-radius: 50px;
  }
  .checked{
    color: #fff;
    background-color: #000;
  }
}

.content{
  background: whitesmoke;
}

.app-card{
  .btn{
    padding: 0 20px;
    border-radius: 50px;
    height: 2rem;
    line-height: 2.1rem;
  }
}

@keyframes goingup {
  0% {
     opacity: 0;
     transform: translateY(20px);
 }
 100% {
     opacity: 1;
     transform: translateY(0);
 }
}

@keyframes disappear {
  0% {
     opacity: 1;
 }

 40%{
     opacity: .65;
 }
 50%{
     opacity: .5;
     transform: scale(.75,.65);
     z-index: 9884;
     transform: translateY(25px);
 }
 75%{
     opacity: .45;
     transform: scale(.55,.5);
 }
 100% {
     opacity: 0;
     transform: translateX(100%);
     display: none;
 }
}

@keyframes appear {
  0% {
     opacity: 0;
     transform: translateX(-100%);
 }

 25%{
   opacity: .45;
   transform: scale(.55,.5);
 }

 50%{
     opacity: .5;
     transform: scale(.75,.65);
     z-index: 9884;
     transform: translateY(25px);
 }
 60%{
     opacity: .65;
 }

 100% {
     opacity: 1;
     transform: translateX(0);
 }
}



.section{
  margin-bottom: 6rem;
  background-image: url(../../media/line.svg);
  background-position: center;
  background-repeat: repeat-y;
  animation: goingup 1s cubic-bezier(0.29, 0.99, 1, 1);

}

.section-intro, .app-card{
  margin-bottom: 60px;
  padding: 36px;
  background: #fff;
}

.section-intro{
  box-shadow: 5px 25px 30px -25px rgba(42, 48, 93, 0.21);
}


.app-card{
  display: flex;
  box-shadow: 0 20px 20px rgba(0,0,0,.08); //5px 25px 30px -25px rgba(34,34,34,.25);

  p{
    margin-bottom: .82rem;
  }
}

.app-no{
   color: #F42;
   line-height: 1;
   margin-bottom: 1.2rem;
}

.current,
.total {
  font-size: 1.8rem;
  font-weight: 500;
}

.connector{
   vertical-align: text-bottom;
   vertical-align: -webkit-baseline-middle;
   font-size: 1.1rem;
}


.app-meta{
  margin-bottom: 1.2rem;
  h3{
     font-size: 2.6rem;
     margin-bottom: -.2rem;
  }

  .connector{
    padding-left: .5rem;
    vertical-align: middle;
  }
}


.app-icon{
  max-width: none !important;
  border: 4px solid white;
  border-radius: 1rem;
}

.app-link{
   a{
     margin-right: 2rem;
   }
   a:last-of-type{
     margin-right: 0;
   }
}

.col-left{
   margin-right: 1.45rem;
}


.publisher{
  font-size: 1.055rem;
  text-transform: uppercase;
  font-weight: 500;
  vertical-align: middle;
}

.m-app-link{
  display: none;
}

.more{
  display: none;
}

//section top borders - testing only
@mixin topbar($color) {
  border-top: 4px solid $color;
}

#scc{
  @include topbar(#934cd0);
}

#sml{
  @include topbar(#5976de);
}


// responsive css

@media screen and (max-width: 580px) {
  .section-intro{
    padding: 14px;
    margin-bottom: 32px;
  }

  .app-card{
    padding: 12px;
    padding-bottom: 5px;
    margin-bottom: 0;
    font-size: 1rem;
    border-top: 1.5px solid #eee;
  }

  .col-left {
    margin-right: 8px;
  }

  .app-icon{
    height: 36px;
    width: 36px;
    border: none;
    border-radius: 0;
  }

  .app-meta{
    margin-bottom: 0;
  }

  .app-meta h3 {
    font-size: 1.1rem;
  }

  .app-lic {
    font-size: .858rem;
    color: #868686;
  }

  .pop .btn {
    padding: 0;
    height: 16px;
    line-height: 20px;
    text-transform: none;
    background: none;
    color: inherit;
   }

  .m-app-link {
    display: flex;
    justify-content: space-around;
    background: #fff;
    border-top: 1px solid #eee;
    padding: 6px 0;
   }

  .sec-desc,
  .app-no,
  .connector,
  .publisher,
  .app-intro,
  hr,
  .app-link{
    display: none;
  }

  .more{
    display: block;
    margin: auto;
    margin-right: 0;
    a{
      padding: 14px 6px;
    }

  }

  .pop{
    position: fixed;
    top: 45px;
    left: 0;
    height: 100vh;
    width: 100%;
    background: #fff;
    padding: 20px 14px;
    overflow-x: hidden;
    overflow-y: auto;
    .app-head{
      display: flex;
    }
    .app-icon{
      margin-right: 10px;
      height: 40px;
      width: 40px;
    }
    .app-meta {
    margin-bottom: 12px;
    }
    h3 {
    font-size: 1.4rem;
   }
   .app-intro {
    display: block;
    font-size: .85rem;
   }
   p {
    margin-bottom: .9rem;
  }

  }
  .closepop{
    position: absolute;
    right: 0;
    a{
      font-size: 1.85rem;
      padding: 10px;
    }
    a, a:hover{
      color: #767677;
      text-decoration: none;
    }
  }

}

@media screen and (min-width:580px) and (max-width:756px) {
  .section-intro, .app-card{
    padding: 23px;
    margin-bottom: 36px;
  }

  .app-card{
    font-size: .94rem;
  }

  .sec-desc{
    height: 150px;
    overflow: hidden;
  }

  .current, .total {
    font-size: 1.46rem;
  }

  .app-icon{
    height: 76px;
    width: 76px;
  }

  .col-left {
    margin-right: 12px;
  }

  .app-meta h3 {
   font-size: 1.86rem;
  }

  .app-intro{
    height: 90px;
    overflow: hidden;
  }

  .app-card hr{
    margin: 10px 0 14px 0;
  }

  .app .btn{
    font-size: .8rem;
      padding: 0 14px;
      border-radius: 40px;
      height: 1.6rem;
      line-height: 1.66rem;
      text-transform: none;
  }
  .app-link a {
      margin-right: .65rem;
  }


}

@media screen and (max-width:756px) {
  .section{
    background: none;
    margin-bottom: 4rem;
  }


}

@media screen and (min-width:756px) and (max-width:1000px) {
  .section-intro, .app-card{
    padding: 30px;
    margin-bottom: 46px;
  }

  .app-meta h3 {
   font-size: 2.2rem;
  }

  .app-icon{
    height: 100px;
    width: 100px;
  }
}

@media screen and (max-width:1000px) {

   .tools-header{
      padding: 10px 3%;
      .mt-4{
        margin-top: 0;
      }
   }



}
