// All elements CSS is declared here
// Some common properties are also listed at the end
// Some elements are still in development

// Base button class
.btn{
  display: inline-block;
  border: 0;
  padding: 0 16px;
  height: 40px;
  line-height: 40px;
  font-size: .8235rem;
  font-weight: 500;
  border-radius: 3px;
  text-align: center;
  text-transform: uppercase;
  background: #37a866;//#F42;
  color: #fff;
  cursor: pointer;
}

a.btn{
  color:#fff;
}

.btn:hover,
.btn:active{
  opacity: .88;
  background: #000;
}

.btn-w{
  background: #fff;
  color: $font-normal;
}

a.btn-w{
  color: $font-normal;
}

.btn-w:hover{
  color: #fff;
}

// full container filling button
.btn-100{
  width: 100%;
}

a.btn:hover{
  text-decoration: none;
}

// Button background for social sites
.btn-facebook{
  background: #3B5998;
}
.btn-twitter{
  background: #55ACEE;
}


// common props
.button, .icon-inline, caption, td, th {
    vertical-align: middle;
}
