// CSS for icons
// All icons are combined in s single icons-sprite.svg file
// File is located at /assets/img/file

.icon {
    background: url(../../media/icons-sprite.svg) 1248px 1248px no-repeat;
    background-size: 1248px 1248px;
    width: 16px;
    height: 16px;
}

.icon-inline {
    display: inline-block;
    margin-right: 3px;
    position: relative;
    top: -.1em;
}


// facebook icons
.icon-facebook{
    background-position: -240px -240px;
}

.icon-facebook-dark{
    background-position: -256px -256px;
}

.icon-facebook-light{
    background-position: -272px -272px;
}


// Twitter icon
.icon-twitter{
    background-position: -896px -896px;;
}

.icon-twitter-dark{
    background-position: -960px -960px;;
}

.icon-twitter-light {
    background-position: -976px -976px;;
}
