
// New variables starting from scrath

// Fonts
$font-stack: "San Fransisco", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvatica Neue", Helvatica, sans-serif;
$font-code: 'Consolas',Helvetica,serif;

// Theme Color
$primary-color: #07ccc2;
$secondary-color: #25d1a3;

// Font color
$font-normal:  #333;//rgba(31, 31, 56, 0.83);
$font-light:   #464646;
$font-tolight: #AAA;

//link Color
$link-color: #0099e5;
